<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>For Whom the Bell Tolls</key>
	<array>
		<string></string>
	</array>
	<key>On The Road</key>
	<array/>
	<key>The Old Man and the Sea</key>
	<array>
		<string></string>
	</array>
	<key>A Clockwork Orange</key>
	<array/>
	<key>Fahrenheit 451</key>
	<array/>
	<key>Animal Farm</key>
	<array/>
	<key>1984</key>
	<array/>
	<key>A Brave New World</key>
	<array/>
</dict>
</plist>
